.logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}
.central-login {
  width: 300px;
  margin: 0 auto;
}
.button-center {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.center {
  text-align: center;
}
