{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>PASSWORD CHANGE</h1>
  <br />
  <form method="post">
    <div class="form-group">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-outline-danger">SUBMIT</button>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {{ form.errors }}Your password didn't our requirements. Please try again.
    </div>
    {% endif %}
  </form>
  {% endblock content %}
</div>
