{% extends "base.html" %} {% load static %} {% block customstatic %}
<!-- <link rel="stylesheet" hred="{% static "styles/datepicker.css" %}">
<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/date.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>

{% endblock %} {% block content %}
<div class="container">
  <h3>Welcome to Order pad, {{ user.first_name }}</h3>
  <!-- <div style="display:none;" id="userName">{{ user }}</div> -->

  <p>
    Below you can see your regular list of items, If you don't see what you are
    looking for contact our office and we will add the new item(s) to your order
    pad. Please note, once you place an order, an email confirmation will be
    emailed to you, if you didn't receive the email, please use our phone number
    to place the order.
  </p>
  {% for i in customer %}
  <p>Your email address is:</p>
  <p id="email">{{ i.email_address }}</p>
  {% endfor %} <br />
  <table
    id="example"
    class="display table table-striped"
    style="width:100%; margin:10px; padding: 20px;"
  >
    <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for p in products %}
      <tr class="items">
        <td>{{ forloop.counter }}</td>
        <td class="productName">{{ p.product_name }}</td>
        <td>
          <input class="productQuantity" type="text" id="pquantity" value="0" />
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
  <br />
  <hr />
  <div class="row">
    <div class="col-6">
      <p>Purchase order number: # <input type="text" id="orderNumber" /></p>
    </div>

    <div class="col-6">
      <p>
        Choose the delivery date: (required)
        <input type="text" id="datepicker" required />
      </p>
      <div id="notification" class="alert alert-dark" role="alert">
        "Orders placed after <strong>12am</strong>, cannot be scheduled for the
        same day delivery."
      </div>
    </div>
  </div>
  <p>
    Use the text box below to let us know if you need anything else: (example:
    Delivery Time, Other product(s) and etc.)
  </p>
  <textarea class="form-control" id="info"></textarea> <br />
  <button
    onClick="submitOrder()"
    id="placeOrder"
    type="button"
    class="btn btn-success"
  >
    PLACE ORDER
  </button>
  <button type="button" onClick="printThispage()" class="btn btn-secondary">
    <i class="fas fa-print"></i> PRINT THIS PAGE
  </button>
  <br />
  <div id="confirm"></div>
</div>
<br />
<br />
<br />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  function printThispage() {
    window.print();
  }
  let currentTime = new Date().toLocaleTimeString();
  let hour = currentTime.substr(0, 2);
  let note = document.getElementById("notification");
  // let earlyDate = () => {
  //   if (hour > 12) {
  //     return 2;
  //   } else {
  //     return 1;
  //   }
  // };

  // window.onload = function notifyCustomer() {
  //   if (hour > 12) {
  //     note.innerHTML =
  //       "Orders placed after <strong>12pm</strong>, cannot be scheduled for next day delivery.";
  //   } else {
  //     note.innerHTML =
  //       "Hurry up! Order before <strong>12pm</strong> for next day delivery";
  //   }
  // };

  $(function() {
    $("#datepicker").datepicker({
      beforeShowDay: function(date) {
        var day = date.getDay();
        return [day != 0, ""];
      },
      dateFormat: "yy-mm-dd",
      minDate: 1,
      maxDate: "30D"
    });
  });

  // form data pickeup

  let items = document.getElementsByClassName("items");

  // const checkOrder = () => {
  //   let orderList = "";
  //   for (var i = 0; i < items.length; i++) {
  //     orderList += items[i].childNodes[3].innerHTML;
  //     orderList += ":   ";
  //     orderList += items[i].childNodes[5].querySelector("input").value;
  //     orderList += "<br />";
  //   }
  //   return orderList;
  // };

  // async data submission
  const url = "/accounts/order/";

  const submitOrder = async () => {
    let orderList = "";
    for (var i = 0; i < items.length; i++) {
      orderList += items[i].childNodes[3].innerHTML;
      orderList += ":   ";
      orderList += items[i].childNodes[5].querySelector("input").value;
      orderList += "-";
    }
    let orderNumber = document.getElementById("orderNumber").value;
    let deliveryDate = document.getElementById("datepicker").value;
    let info = document.getElementById("info").value;
    let confirm = document.getElementById("confirm");
    let email = document.getElementById("email").innerHTML;
    const orderToPlace = orderList;
    const data = JSON.stringify({
      order: orderToPlace,
      "Order Number": orderNumber,
      "Delivery Date": deliveryDate,
      "Extra Info": info,
      email: email
    });
    console.log(data);
    try {
      const response = await fetch(url, {
        method: "POST",
        headers: {
          "Content-type": "application/json"
        },
        body: data
      });
      if (response.ok) {
        const jsonResponse = await response.json();
        if (jsonResponse["status"] == "ok") {
          confirm.innerHTML =
            '<div class="alert alert-success" "role="alert" >Your order has been placed. Thank You. If you would like to make any amendments to your order please email orders@jbrichardson.co.uk</div>';
          window.location.replace(jsonResponse["url"]);
        } else {
          console.log("something went wrong!");
        }
      }
    } catch (error) {
      console.log(error);
    }
  };

  $(document).ready(function() {});
</script>
{% endblock %}
